/* Modal container */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content */
.modal-content {
  border-radius: 10px;
  position: relative;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Canvas container */
.canvas-container {
  position: relative;
}

/* Navigation styling */
.navigation {
  position: absolute;
  top: 50%;
  width: 93.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.nav-button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}
.zoom-controls {
  margin-top: 10px;
}

.zoom-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.zoom-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Page info styling */
.page-info {
  font-size: 13px;
  transform: translateY(-100%);
}

.action-buttons {
  margin-top: 20px;
}

.action-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.action-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Canvas styling */
canvas {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
